/* ESTRUTURA GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("forma1.svg"), url("copo.svg"), url("forma2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, 15%, 20%;
    background-position: -10% -10%, 80% -80%, 120% -10% ;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* HEADER */
header {
    box-shadow: 0 0 4px #ddd;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 50px;
}

li:first-child {
    margin-left: 0;
}